<section >
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Depoimentos</h2>
          </div>
        </div>
        <ngb-carousel>
          <ng-template ngbSlide >
            <div class="block-33 h-100 bg-light">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Jose Orlando dos Anjos</h2>
                    <span class="meta" align='justify'>Empresário do segmento de saúde e bem estar. Fundador e Proprietário da
						Academia dos Anjos</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Diogo foi a melhor coisa que aconteceu na minha empresa nos últimos 10
                       anos, com ele conseguimos sair do vermelho, consegui formar uma equipe,
                       conseguimos nos posicionar no mercado e o mais importante, tudo graças a
                       sua competência e habilidade em nos orientar e nos ajudar a ampliar nossos
                       conhecimentos. Depois do diagnóstico estratégico orientado por ele,
                       conseguimos vários benefícios e conseguimos até expandir e abrir uma nova
                       unidade. Como empresário, posso afirmar, a orientação individual que tive
                       com esse maravilhoso profissional, além de me ajudar nos negócios, o
                       mesmo ainda fez um excelente trabalho na minha orientação pessoal. Hoje
                       estamos mudando de ramo e voltando a trabalhar com o que mais amo,
                       graças, mais uma vez ao conselho, não apenas ao profissional Consultor e
                       Mentor Diogo, mais sim do meu amigo e irmão Diogo. Faço questão de
                       ressaltar, além de um Mentor e Consultor, ganhei um grande amigo.&ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_2.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Eduardo Souza</h2>
                    <span class="meta">Geólogo, Executivo da Petrobras -
					Coordenador da Equipe de Geologia e Petrofisica de Exploração Geológica na Amazônia</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo;Hoje vivemos em uma época de aceleradas mudanças e estamos cada vez mais impactados pela tecnologia,  que muda valores, práticas, usos e costumes.
						A grande maioria das pessoas não está preparada ou tem no mínimo dificuldades de entender e se adaptar a essa nova realidade. 
						No campo empresarial não é diferente. Diante desse cenário, posso dizer com segurança, que tive e ainda tenho o privilégio de contar com suas orientações profissionais,
						que me permitiram uma gestão de mudança e adaptação mais rápida ao novo contexto que vivemos hoje, seja no âmbito profissional ou mesmo pessoal. 
						O conhecimento e as habilidades e compartilhadas por você, me ajudaram a amadurecer e alcançar meu primeiro cargo de liderança gerencial (Coordenador),
						com pouco menos de 5 anos de companhia. Hoje, o desafio passou a ser outro: como gerenciar melhor pessoas e processos e manter um  alto desempenho.
						E nesse ambiente altamente competitivo, você continua me ajudando a aprimorar minha visão, atuação, gestão do tempo e produtividade. 
						Sou grato a você por contribuir na construção e aprimoramento constante de minha trajetória  profissional, que está  apenas no começo.
  &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>
		<div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Amanda Coutinho</h2>
                    <span class="meta">Diretora Executiva da Faculdade da Amazônia – FAAM. Pós Graduada em
						Direito Internacional pelo CEDIN - Centro de Estudos em Direito e Negócios,
						em Gestão Educacional na FAAM e em Ciência Política na LSE em Londres.
						Mestranda em Ciências Jurídicas Políticas na Universidade do Porto e
						Mestranda em Direito internacional da Criança na Universidade do Minho</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; O desafio da inovação disruptiva pode se tornar assustador para líderes de
					empresas, não por não serem perceptíveis aos gestores, mas sim, pela
					dificuldade de analisar quais recursos poderão ser utilizados para enfrentar
					novos desafios.

					No universo das empresas familiares, tais desafios são avolumados pela
					presença de gerações a se colidirem, mas do mesmo modo a somarem
					experiências, valores e tradições em um ritual importante e valioso também
					para o processo de sucessão.

					A perspectiva de um profissional de fora da família se torna inestimável para
					complementar essa construção. Agradeço pela sua paciência,
					disponibilidade e profissionalismo em contribuir para meu crescimento
					profissional, sendo um excelente mentor, preparado a trazer reflexões e
					insights isentos de envolvimento emocional para solução de conflitos e
					implementação de novos caminhos. Obrigada pelo desvelo para com toda
					minha família. Tenho aprendido muito com você. Que possamos continuar
					juntos em busca de melhores resultados. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>
		<ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Alexandre Medeiros</h2>
                    <span class="meta">Professor e Coordenador do curso de Psicologia da FAAM, Professor de
					Pós-Graduação, Consultor Organizacional em Desenvolvimento Humano.</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Hoje dentro do processo de formulação da Estratégia e desenvolvimento do
					Plano Estratégico, é necessário consolidar o alinhamento de objetivos entre
					os que compõe a organização. Em especial, entre os gestores e os demais
					funcionários de todos os níveis organizacionais, pois só assim consegue-se
					ter a dimensão do papel que cada um deve seguir e trilhar dentro de uma
					organização.

					Me refiro a esses aspectos, pois com a mentoria recebida pelo Diogo Souza
					na FAAM, dentro do nosso processo de alinhamento estratégico e
					desenvolvimento do planejamento estratégico, pude perceber o quanto é
					importante sair de uma campo de atuação menos intuitivo, para um mais
					focado nos resultados, e aprendi que gestão não é esforço e sim resultado,
					por isso o alinhamento de objetivos e o planejamento são essenciais para
					crescimento das organizações e claro, das pessoas.

					Professor Diogo Souza tem uma expertise fantástica no desenvolvimento de
					mentoria estratégica e no uso de tecnologias de gestão para conduzir
					aprendizado e transformação organizacional, focado em resultados e gestão
					com alta performance. Por isso, digo meu muito obrigado pela aprendizagem
					e conhecimento adquirido, pois tem servido, e muito, para minha vida
					pessoal e claro profissional. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Msc. Wilson Ataide</h2>
                    <span class="meta">Mestre em Direito, Coordenador do Curso de Direito da FAAM e Professor
					adjunto I do ICJ da UFPA, Professor de Direito Constitucional</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; O trabalho de consultoria feito pelo professor Diogo Souza é extremamente
						eficaz, fornece técnicas e metodologias que nos ajudam a aumentar a
						produtividade e os lucros. Seu trabalho tem ajudado demais no meu modo de
						pensar e agir na empresa, e tem contribuído positivamente na forma de
						desenvolver meu trabalho. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Msc. Josileia Lira</h2>
                    <span class="meta">Mestre em Educação Física e Cultura, Docente UEPA, Coordenadora do
						Núcleo de Extensão do Curso de Ed. Física da UEPA e Coordenadora do
						curso de Educação Física da FAAM</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Diogo, profissional de extrema capacidade na utilização do planejamento
						estratégico para desenvolver pessoas e empresas. Apresenta a capacidade
						de identificar o potencial de cada membro do grupo, incentivando-o e
						instrumentalizando-o a fim de que desenvolva habilidades necessárias ao
						desenvolvimento dos cargos ocupados, assim como, estratégias que possam
						somar ao crescimento da empresa. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>



          <ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Antônio Monteiro</h2>
                    <span class="meta">Controller da SOCOCO S/A, Administrador, Contador, Bacharel em Direito,
					Especialista em Gestão Financeira, Auditoria, Controladoria e Mestrando em
					Desenvolvimento Empresarial.</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Nos encontramos nos espaços da Academia, profissional fantástico, criativo,
					autêntico, inovador, crítico por natureza, de um olhar investigativo e analítico
					próprio, e através de seu trabalho vem contribuindo com o desenvolvendo
					das organizações na Amazônia. Convergimos em ideias e pontos de vista, e
					acreditamos que a base para uma nova economia esteja no desenvolvimento
					da bioeconomia. Tive a oportunidade de atuar ao seu lado em algumas
					consultorias e eventos acadêmicos. Tenho grande estima pelo profissional e
					pessoa que é. No mais lhe desejo muito sucesso e que continue alçando
					novos espaços. Forte abraço. É uma honra está no mercado ao seu lado. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="assets/img/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">André Lages</h2>
                    <span class="meta">Engenheiro P&D, especialista em Sistemas de Telecomunicações Móveis</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Entusiasta da Inovação Tecnológica Sustentável. Um mentor executivo
						excepcional, que transcende o convencional status quo. Proporciona uma
						experiência reverberante com uma metodologia inovadora, sempre lastreada
						por referências científicas da neurolinguística e psicologia. O que aumentou
						sem dúvida minha produtividade com uma ênfase prática da gestão em todas
						suas ramificações. Posso relatar o aprendizado extraordinário na gestão de
						pessoas, talvez a área mais complexa do ramo empresarial, de suma
						importância para a saúde corporativa inovadora e para o desenvolvimento
						humano.
						Além de possuir uma visão de mundo singular, que permeia substratos
						diversos do conhecimento, que abrangem desde a tecnologia até a
						socioeconômica sustentável. Correlacionando seus contextos com aspectos
						culturais e históricos, o que amplia a visão estratégica do executivo e
						proporciona/propicia um arcabouço enriquecedor para destilar as exigências
						vorazes da atualidade. Meus sinceros agradecimentos, seus insights e
						mentoria ajudaram imensamente a evoluir minha abordagem científica e
						corporativa, e principalmente, a manter a filosofia de um aprendizado
						contínuo e adaptativo. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </ng-template>

		    </ngb-carousel>
      </div>

    <!-- END .block-4 -->
    </section>
