<div class="top-shadow"></div>
	<section >
      <div  style="padding-top:40px" >
      <div class="row d-lg-flex d-block">
			 <div class="image1" style="background-image: url('/assets/img/DiogoS.png')"></div>
		 	 <div class="text1" style="background-color:black;">
		          <p class="mb-5 textpa text-center" >
							Quando não temos um propósito é fácil desistir de qualquer coisa, mas quando temos um propósito,
				  		é inevitável escolher caminhos melhores.</p><br>
				  		<p class="mb-5 textpa text-center" >E quando a Fé em Deus e em seus desígnios soma-se a esse propósito,
				  		teremos uma caminhada resiliente, abençoada e regozijante.</p><br>
				  		<p class="mb-5 textpa text-center" >"Porque, onde estiver o teu tesouro, aí também estará o teu coração“
				 			</p>
				  		<p class="mb-5 textpa text-center" >(Mateus 6:21)</p><br>
			</div>
	</div>
	</div>

	</section>



  <section>
	<div >
      <div class="row d-lg-flex d-block">
				<div class="image1" style="background-image: url('/assets/img/Diogo3.jpeg')"></div>
        <div class="text2 text-center">
          <h3 class="mb-4">Sobre</h3>
          <p class="mb-5">Administrador, Professor, Consultor Estratégico, Mentor, Palestrante e Debatedor, com
              formação acadêmica e executiva, desenvolvida nas seguintes instituições - FGV-EBAPE –
              RJ, Escola Brasileira de Administração Pública e de Empresas da Fundação Getúlio Vargas,
              ENAP - Escola Nacional de Administração Pública de Brasília; UFPA - Universidade Federal
              do Pará e FACI - Faculdade Ideal. Em 15 anos atuando na Amazônia, contribuiu
              efetivamente para o desenvolvimento de Empresas do Setor Privado, Público e Terceiro
              Setor, sempre ocupando posição de confiança, focando a sustentabilidade e construção de organizações
              antifrágeis. E ainda atuando ativamente em fóruns para debater os desafios a serem superados na
              Amazônia, a partir de perspectivas, locais, regionais e globais. Como docente do Ensino Superior é atuante
              nos cursos de graduação e pós-graduação nas principais Instituições da Amazônia. Como executivo e
              consultor atuou em Projetos e desenvolvimento de soluções em importantes organizações, como por
              exemplo:
              Banco Interamericano de Desenvolvimento - BID e Fundo Multilateral de Investimento - FUMIN, Coca-Cola,
              ICCO, Ministério do Desenvolvimento Social, Ministério do Planejamento, AVINA, União Europeia – EU,
              FADESP – Fundação de Amparo e Desenvolvimento a Pesquisa da UFPA, ENAP – Escola Nacional de
              Administração Pública em Brasília</p>
       	</div>

      </div>

      <div class="half d-lg-flex d-block">
        <div class="text3 text-center">
          <h3 class="mb-4">Valores e Missão</h3>
          <p class="mb-5">Nossa missão tem como propósito o trabalho colaborativo e ecossistêmico para a construção de uma agenda plural,
                inclusiva e efetiva, que desenvolva a região amazônica de forma sustentável, eliminando desigualdades e
                que a leve ao protagonismo global no desenvolvimento de novas tecnologias organizacionais, e soluções
                desejáveis de natureza socioeconômica.</p>
   			</div>
				<div class="image1"  style="background-image: url('/assets/img/group-resize.jpg')"></div>

		 </div>

    </div>
    </section>


    <!-- END section -->
