<div class="top-shadow"></div>
	<section>
	<div>
      <div class="slider-item" style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
		<div class="image" style="background-image: url('/assets/img/DiogoS.png')"></div>
		 <div class="text text-center" style="background-color:black">
          <p class="mb-5" style="color:#FFF;font-size:1.35rem;font-weight: bold;">Quando não temos um propósito é fácil desistir de qualquer coisa, mas quando temos um propósito,
		  é inevitável escolher caminhos melhores.</p><br>
		  <p class="mb-5" style="color:#FFF;font-size:1.35rem;font-weight: bold;">E quando a Fé em Deus e em seus desígnios soma-se a esse propósito,
		  teremos uma caminhada resiliente, abençoada e regozijante.</p><br>
		  <p class="mb-5" style="color:#FFF;font-size:1.35rem;font-weight: bold;">"Porque, onde estiver o teu tesouro, aí também estará o teu coração“
		 </p>
		  <p class="mb-5" style="color:#FFF;font-size:1.35rem;font-weight: bold;">(Mateus 6:21)</p><br>


<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Leia Mais</a></p>
 -->        </div>
		</div>
	</div>
	</div>
	</section>


  <section>
	<div class="inner-page">
      <div class="half d-lg-flex d-block">
        <div class="image" style="background-image: url('/assets/img/Diogo3.jpeg')"></div>
        <div class="text text-center">
          <h3 class="mb-4">Sobre</h3>
          <p class="mb-5">Administrador, Professor, Consultor Estratégico, Mentor, Palestrante e Debatedor, com
              formação acadêmica e executiva, desenvolvida nas seguintes instituições - FGV-EBAPE –
              RJ, Escola Brasileira de Administração Pública e de Empresas da Fundação Getúlio Vargas,
              ENAP - Escola Nacional de Administração Pública de Brasília; UFPA - Universidade Federal
              do Pará e FACI - Faculdade Ideal. Em 15 anos atuando na Amazônia, contribuiu
              efetivamente para o desenvolvimento de Empresas do Setor Privado, Público e Terceiro
              Setor, sempre ocupando posição de confiança, focando a sustentabilidade e construção de organizações
              antifrágeis. E ainda atuando ativamente em fóruns para debater os desafios a serem superados na
              Amazônia, a partir de perspectivas, locais, regionais e globais. Como docente do Ensino Superior é atuante
              nos cursos de graduação e pós-graduação nas principais Instituições da Amazônia. Como executivo e
              consultor atuou em Projetos e desenvolvimento de soluções em importantes organizações, como por
              exemplo:
              Banco Interamericano de Desenvolvimento - BID e Fundo Multilateral de Investimento - FUMIN, Coca-Cola,
              ICCO, Ministério do Desenvolvimento Social, Ministério do Planejamento, AVINA, União Europeia – EU,
              FADESP – Fundação de Amparo e Desenvolvimento a Pesquisa da UFPA, ENAP – Escola Nacional de
              Administração Pública em Brasília</p>
<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Learn More</a></p>
 -->        </div>
      </div>

      <div class="half d-lg-flex d-block">
        <div class="image order-2 element-animate" data-animate-effect="fadeIn" style="background-image: url('/assets/img/group-resize.jpg')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">Valores e Missão</h3>
          <p class="mb-5">Nossa missão tem como propósito o trabalho colaborativo e ecossistêmico para a construção de uma agenda plural,
                inclusiva e efetiva, que desenvolva a região amazônica de forma sustentável, eliminando desigualdades e
                que a leve ao protagonismo global no desenvolvimento de novas tecnologias organizacionais, e soluções
                desejáveis de natureza socioeconômica.</p>

<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Learn More</a></p>
 -->        </div>
		 </div>
    </div>
    </section>


    <!-- END section -->
