.loginStyle{
  margin-left: auto!important;
  margin-right: auto!important;
  color: #17a2b8;
  margin-bottom: 2px;
}

.labelStyle{
  color: #17a2b8!important;

}

.SubStyle{
  margin-left: auto!important;
  margin-right: auto!important;

  margin-bottom: 0;
}
.row{
  margin-right: 0!important;;
  margin-left: 0!important;;
}



@media (min-width: 576px)  {



}
