<div mdbModal #frameS="mdbModal" class="modal fade left" id="SignUpModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"  style="overflow-y: scroll!important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row modal-header text-center" style="margin-bottom:0;padding-bottom:0;">
        <span class="col login-logo loginStyle ">
  			 <b style="font-weight:700;">PORTAL</b> | Assine
  		  </span>
        <p class="login-box-msg SubStyle">Por favor, insira seus dados!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="frameS.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="signUpForm" class="modal-body" style="margin-bottom:0;padding-bottom:0">
        <div class="row">
            <div class="md-form col-xs-12 col-sm-6">
                  <ds-input-container [showTip]="false">
                  <input type="email" id="SignUpForm-name" formControlName="name" class="form-control"
                         mdbInput mdbValidate>
                  <i style="font-size:20px!important;color: #17a2b8!important;"
                        class="fa fa-info prefix " ></i>
                  <label class="labelStyle ml-1" for="defaultForm-email">Nome</label>
                  </ds-input-container>
            </div>
            <div class="md-form col-xs-12 col-sm-6">
                  <ds-input-container [showTip]="false">
                  <input type="email" id="SignUpForm-gname" formControlName="givenname" class="form-control"
                         mdbInput mdbValidate>
                  <i style="font-size:20px!important;color: #17a2b8!important;"
                        class="fa fa-info prefix " ></i>
                  <label class="labelStyle ml-1" for="defaultForm-email">Sobrenome</label>
                  </ds-input-container>
            </div>
        </div>
        <div class="row">
            <div class="md-form col-xs-12 col-sm-6">
                    <ds-input-container [showTip]="false">
                    <input type="email" id="SignUpForm-email" formControlName="username"
                          class="form-control"   mdbInput mdbValidate>
                    <i style="important;color: #17a2b8!important;"
                          class="fa fa-user prefix " ></i>
                    <label class="labelStyle ml-1" for="defaultForm-pass">Usuário</label>
                    </ds-input-container>
            </div>
            <div class="md-form col-xs-12 col-sm-6">
                    <ds-input-container [showTip]="false">
                    <input type="email" id="SignUpForm-user" formControlName="email" class="form-control"
                           mdbInput mdbValidate>
                    <i style="important;color: #17a2b8!important;"
                            class="fa fa-envelope prefix " ></i>
                    <label class="labelStyle ml-1" for="defaultForm-pass">Email</label>
                    </ds-input-container>
            </div>
          </div>
      <div class="row">
          <div class="md-form col-xs-12 col-sm-6">
                  <ds-input-container [showTip]="false">
                  <input type="password" id="SignUpForm-pass" formControlName="password"
                    class="form-control" mdbInput mdbValidate>
                  <i style="font-size:20px!important;color: #17a2b8!important;"
                   class="fa fa-lock prefix " ></i>
                  <label class="labelStyle ml-1" for="defaultForm-pass">Senha</label>
                  </ds-input-container>
          </div>

          <div class="md-form col-xs-12 col-sm-6">
                  <ds-input-container [showTip]="false">
                  <input type="password" id="SignUpForm-copass" formControlName="copassword" class="form-control"
                         mdbInput mdbValidate>
                  <i style="font-size:20px!important;color: #17a2b8!important;" class="fa fa-lock prefix " ></i>
                  <label class="labelStyle  ml-1" for="defaultForm-pass">Confirmar Senha</label>
                  </ds-input-container>
            </div>
        </div>
      </form>
      <p *ngIf="VerificationMessage" class="login-box-msg SubStyle"
            style="color:red">Por favor, verifique seus dados!</p>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn (click)="onSignUp()" color="default" class="waves-light"
           [disabled]="signUpForm.invalid"   style="background:#17a2b8!important" mdbWavesEffect>Cadastrar</button>
      </div>
    </div>
  </div>
</div>
