<div class="top-shadow"></div>
<ngb-carousel class="home-slider">
	<ng-template ngbSlide class="inner-page">
      <div  style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
        <div class="image" style="background-image: url('assets/img/Intro.png')"></div>

        <div class="text text-center">
          <h3 class="mb-4">Introdução</h3>
          <p class="mb-5" style="color:#212529;font-weight: bold;">O mundo sempre foi desafiador, os ambientes onde as organizações buscam prosperar, não importando o setor que nasceram ou atuam, são mais desafiadores ainda.
					Quer seja impulsionada por crises ou por grandes inovações, a verdade é, que a mudança é permanente e inevitável. Nos últimos anos, a complexa natureza dos fenômenos que impulsionam
					as grandes transformações no mundo, são tão abrangentes e impactantes, que sua força disruptiva de transformação alcançou todos os cantos do mundo, de países desenvolvidos a em desenvolvimento,
					de regiões ricas a regiões com profundas dificuldades. Nesse cenário, Klaus Schwab reflete - “As mudanças são tão profundas que, na perspectiva da história da humanidade, nunca houve um momento tão potencialmente promissor ou perigoso”.
			    </p>
<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Leia Mais</a></p>
 -->    </div>
      </div>
      </div>
	</ng-template>
   	<ng-template class="inner-page">
      <div class="slider-item" style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
        <div class="image" style="background-image: url(''assets/img/Intro.png')"></div>

        <div class="text text-center">
          <h3 class="mb-4">Introdução</h3>
          <p class="mb-5" style="color:#212529;font-weight: bold;">O mundo sempre foi desafiador, os ambientes onde as organizações buscam prosperar, não importando o setor que nasceram ou atuam, são mais desafiadores ainda.
					Quer seja impulsionada por crises ou por grandes inovações,as que, na perspectiva da história da humanidade, nunca houve um momento tão potencialmente promissor ou perigoso”.
			    </p>
<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Leia Mais</a></p>
 -->    </div>
      </div>
      </div>
	</ng-template>
	</ngb-carousel>
