<div class="top-shadow"></div>
<ngb-carousel class="home-slider">
	<ng-template ngbSlide >
      <div  style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
        <div class="image4" style="background-image: url('assets/img/OGMT730_LightMan.jpg')"></div>

        <div class="text text-center">
          <h3 class="mb-4">Introdução</h3>
          <p class="mb-5" style="color:#212529;padding-left:20px;font-weight: bold;">O mundo sempre foi desafiador, os ambientes onde as organizações buscam prosperar, não importando o setor que nasceram ou atuam, são mais desafiadores ainda.
					Quer seja impulsionada por crises ou por grandes inovações, a verdade é, que a mudança é permanente e inevitável. Nos últimos anos, a complexa natureza dos fenômenos que impulsionam
					as grandes transformações no mundo, são tão abrangentes e impactantes, que sua força disruptiva de transformação alcançou todos os cantos do mundo, de países desenvolvidos a em desenvolvimento,
					de regiões ricas a regiões com profundas dificuldades. Nesse cenário, Klaus Schwab reflete - “As mudanças são tão profundas que, na perspectiva da história da humanidade, nunca houve um momento tão potencialmente promissor ou perigoso”.
			    </p>
<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Leia Mais</a></p>
 -->    </div>
      </div>
      </div>
	</ng-template>
  <ng-template ngbSlide>
      <div style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
        <div class="image4" style="background-image: url('assets/img/42762_DataPad.jpg')"></div>

        <div class="text text-center">
          <h3 class="mb-4">Nova Economia</h3>
          <p class="mb-5" style="color:#212529;padding-left:20px;font-weight: bold;">Em um cenário de profundas transformações sociais,
						econômicas, demográficas, políticas, mas sobretudo tecnológicas e comportamentais, produtos, serviços,
						organizações e indústrias inteiras, para não sucumbirem, estão sendo levadas a repensar seus processos,
						substituindo-os por formas mais eficientes de trabalho.As empresas precisam agir rápido, para não
						ficarem para trás em uma nova economia voltada para expandir as oportunidades, e que desafia os padrões
						da Era Industrial evidenciando novos paradigmas, fomentados pela transformação estrutural do comportamento
						de consumo, das relações comerciais e das dinâmicas de produção. O caminho são soluções disruptivas por
						meio da inovação contínua.
			    </p>
<!--           <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Leia Mais</a></p>
 -->    </div>
      </div>
      </div>
	</ng-template>
	<ng-template ngbSlide >
      <div  style="padding-top:50px" >
      <div class="half d-lg-flex d-block">
        <div class="image3 " style="background-image: url('assets/img/slide7_Flow12.png')"></div>
				<div class="image3 " style="background-image: url('assets/img/slide7_Flow2.png');  background-position: left center;"></div>

      </div>
      </div>
	</ng-template>
	</ngb-carousel>
