<div class="top-shadow"></div>

   <div class="inner-page">
   <div class="slider-item" style="background-image: url('assets/img/9142resize.jpg');">

       <div class="container">
         <div class="row slider-text align-items-center justify-content-center">
           <div class="col-md-8 text-center col-sm-12 pt-5">
             <h1 class="pt-5"><span>Transforme-se</span></h1>
             <p class="mb-5 w-75" style="color:blue"></p>
           </div>
         </div>
       </div>

     </div>
   </div>


   <section class="section">
     <div class="container">
       <div id="Mentoria" class="row mb-5">
         <div class="col-12 text-center">
           <h2>Mentoria Executiva</h2>
         </div>
       </div>
       <div class="row align-items-stretch">
         <div class="col-lg-4 order-lg-2">
           <div class="scaling-image h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('assets/img/AI.jpg');"></div></div></div>
         </div>

         <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

           <div class="feature-1 d-md-flex">
             <div class="align-self-center">
               <span class="ion ion-easel display-4 text-primary"></span>
               <h3>Design Think</h3>
               <p>Inovando a Forma de Solucionar os Desafios Corporativos</p>
             </div>
           </div>

           <div class="feature-1 d-md-flex">
             <div class="align-self-center">
               <span class="ion ion-hammer display-4 text-primary"></span>
               <h3>Mentoriando a Aprendizagem</h3>
               <p>Construindo o Pensamento para a Optimização da Aprendizagem</p>
             </div>
           </div>

         </div>

         <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

           <div class="feature-1 d-md-flex">
             <div class="align-self-center">
               <span class="ion ion-cube display-4 text-primary"></span>
               <h3>Modelagem de Negócios</h3>
               <p>Construção da Estrutura e dos Processos do Negócios</p>
             </div>
           </div>

           <div class="feature-1 d-md-flex">
             <div class="align-self-center">
               <span class="ion ion-clipboard display-4 text-primary"></span>
               <h3>Bussiness Inteligence</h3>
               <p>Transformação digital, Análises e Decisões Apoiadas em Dados Inteligentes</p>
             </div>
           </div>

         </div>

       </div>
     </div>
   </section>


   <!-- END section -->
