<section  id="body-m">
  <div class="row justify-content-center" >
    <div class="col-md-8 text-center">
      <h2 class="heading" style="padding-top:50px;color:#17a2b8">Portal FollowUp</h2>
    </div>
    </div>
  <div class="row" style="margin-top:10px; " id="row-p">
    <a class="col-xs-12 col-sm-6">
         <div class="place-info-box" style="background:  linear-gradient(to right, #ff4b1f, #1fddff)!important">
          <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
              <div class="place-info-box-content">
                <span class="place-info-box-text">Estratégia</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
                <span class="place-info-box-detail">Gestão Executiva</span>
               <span class="place-info-box-detail">1 semestre</span>
              </div>
         </div>
    </a>
    <div class="col-xs-12 col-sm-6">
         <div class="place-info-box" style="background: linear-gradient(to right, #cb356b, #bd3f32) !important">
          <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
              <div class="place-info-box-content">
                <span class="place-info-box-text">Estratégia</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
                <span class="place-info-box-detail">Gestão Executiva</span>
               <span class="place-info-box-detail">1 semestre</span>
              </div>
         </div>
    </div>
 </div>
 <div class="row" style="margin-top:10px;" id="row-p">
   <div class="col-xs-12 col-sm-6">
        <div class="place-info-box" style="background: linear-gradient(to right, #f3904f, #3b4371)  !important">
         <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
             <div class="place-info-box-content">
               <span class="place-info-box-text">Estratégia</span>
               <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
               <span class="place-info-box-detail">Gestão Executiva</span>
              <span class="place-info-box-detail">1 semestre</span>
             </div>
        </div>
   </div>
   <div class="col-xs-12 col-sm-6">
        <div class="place-info-box" style="background:linear-gradient(to right, #ee0979, #ff6a00) !important">
         <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
             <div class="place-info-box-content">
               <span class="place-info-box-text" style="color:black">Estratégia</span>
               <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
               <span class="place-info-box-detail">Gestão Executiva</span>
              <span class="place-info-box-detail">1 semestre</span>
             </div>
        </div>
   </div>
</div>
<div class="row" style="margin-top:10px;" id="row-p">
  <div class="col-xs-12 col-sm-6">
       <div class="place-info-box" style="background: linear-gradient(to right, #c0392b, #8e44ad)!important">
        <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text">Estratégia</span>
              <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
              <span class="place-info-box-detail">Gestão Executiva</span>
             <span class="place-info-box-detail">1 semestre</span>
            </div>
       </div>
  </div>
  <div class="col-xs-12 col-sm-6">
       <div class="place-info-box" style="background: linear-gradient(to right, #2c3e50, #3498db)  !important">
        <span class="place-info-box-icon"><img src="assets/img/64857.jpg"></span>
            <div class="place-info-box-content">
              <span class="place-info-box-text" style="color:black">Estratégia</span>
              <span class="place-info-box-star"><i class="fa fa-star"></i> 5</span>
              <span class="place-info-box-detail">Gestão Executiva</span>
             <span class="place-info-box-detail">1 semestre</span>
            </div>
       </div>
  </div>
</div>
</section>
