<!--<button  (click)="toggle()">Toggle </button> --->

    <div class="snackbar modal-dialog"
            role="document" [@snack-visibility]="snackVisibility">
      <div class="modal-content " style=" align-content: center;">
        <div class="row modal-header text-center" style="padding-bottom:0;">
          <span class="login-logo  ">
           <div *ngIf="!CodeView"><b style="font-weight:400;color:#17a2b8">{{text1}} {{name}}!</b></div>
           <div *ngIf="CodeView" ><b style="font-weight:400;color:#17a2b8">Obrigado {{name}}!{{text1}}</b></div>
          </span>
    <!--    <p class="login-box-msg SubStyle">Por favor, efetue o login para continuar!</p> -->
        </div>
      </div>
    </div>
