.snackbar{
    width: 300px!important;
    z-index:100!important;
    text-align: center!important;
    border-radius: 2px!important;
    position: fixed!important;
    display: flex!important;
    align-items: cente!importantr;
    left: 50vh!important;
    right: 50vh!important;


}


.loginStyle{
  margin-left: auto!important;
  margin-right: auto!important;
  color: #2bbbad;
  margin-bottom: 2px;
}

.labelStyle{
  color: #2bbbad!important;

}

.SubStyle{
  margin-left: auto!important;
  margin-right: auto!important;

  margin-bottom: 0;
}
.row{
  margin-right: 0!important;;
  margin-left: 0!important;;

}
