.snackbar{
    width: 300px!important;
    z-index:1!important;
    text-align: center!important;
    border-radius: 2px!important;
    position: fixed!important;
    display: flex!important;
    align-items: center!important;
    top: 50%;
    left: 50%;
    margin-right: -50%;;
    transform: translate(-50%, -20%);

}
.backgrounContent{
  background-color:white; position: absolute;background: #2193b0!important;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0)!important;
  background: linear-gradient(to right, #6dd5ed, #2193b0)!important;}

.loginStyle{
  margin-left: auto!important;
  margin-right: auto!important;
  color: #2bbbad;
  margin-bottom: 2px;
}

.labelStyle{
  color: #2bbbad!important;

}

.SubStyle{
  margin-left: auto!important;
  margin-right: auto!important;

  margin-bottom: 0;
}
.row{
  margin-right: 0!important;;
  margin-left: 0!important;;

}
