<!-- Name -->
<div class="top-shadow"></div>
      <div class="slider-item" style="style=padding-top:50px;background-attachment: scroll;background-image: url('assets/img/lapdigital3.jpg');">
	   <div class="container">
    <div class="row slider-text align-items-center justify-content-center">
              <div class="col-lg-7 col-sm-6 element-animate" [@NameAppeared]="NameState">
              <br> <h1 class="mb-2"><span>Diogo Souza</span></h1>
              <p class="mb-5" style="font-weight:bold">Administrador, Consultor, Professor, Mentor e Palestrante</p>
             </div>
       </div>
        </div>
      </div>
 <!--End Name -->
    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2>Transformando desafios em caminhos de sucesso!</h2>
          </div>
        </div>
		 <div class="col-12	">
<!--             <div class="scaling-image h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('images/Citation_Klaus.jpg');"></div></div></div>
 -->         </div>

        <div class="row align-items-stretch">

          <div class="col-md-6 col-lg-6 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-auto">
                <span class="ion ion-hammer display-4 text-primary"></span>
                <h3>AUTONOMIA</h3>
                <p align="justify">Todo projeto de consultoria e mentoria deve
				   garantir autonomia plena aos beneficiários em toda a cadeia de valor. Está instrisicamente
				   ligado ao processo do "Aprender a aprender". O ator adquiri maior flexibilidade para
				   desmitificar os desafios diários da organização.</p>
              </div>
            </div>
            <div class="feature-1 d-md-flex">
              <div class="align-self-auto">
                <span class="ion ion-person display-4 text-primary"></span>
                <h3>ENVOLVER AS PESSOAS NO DESENVOVIMENTO DE SOLUÇÕES</h3>
                <p align="justify">Para resolver problemas complexos e encontrar soluções desejáveis, ampliando e expandindo os resultados, ou seja, o impacto da solução,
					as soluções precisam ser construídas e desenvolvidas, compreendendo a cultura e o contexto do problema, envolvendo todos os indivíduos e equipes da organização,
				   que estejam diretamente relacionados com o problema e que serão beneficiados pela solução.
				   Assim valorizamos e fomentamos a cultura de que todos são responsáveis por tudo e por todos.</p>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-lg-6 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-auto">
                <span class="ion ion-clipboard display-4 text-primary"></span>
                <h3>OBSERVAÇÃO, REFLEXÃO E ANÁLISE</h3>
                <p align="justify">A ação inicial é de observação, em vez de começar com um problema.
				Estimulamos a condição de observador nos envolvidos, para isso incentivamos questionamentos como por exemplo:
				E se o problema identificado não for a verdadeira fonte do problema?
				E se as etapas não levarem à solução correta? Quem são as pessoas envolvidas no problema?
				Podemos fazer diferente?</p>
              </div>
            </div>


            <div class="feature-1 d-md-flex">
              <div class="align-self-auto">
                <span class="ion ion-happy display-4 text-primary"></span>
                <h3>MELHORAR A VIDA DAS PESSOAS</h3>
                <p align="justify">O objetivo é melhorar os resultados da organização e melhorar a vida das pessoas dentro
				   e fora da organização.Temos a preocupação com foco na qualidade e segurança organizacional.
					Preocupação com a saúde ocupacional e qualidade de vida das pessoas.
					Assim, acreditamos que é possível construir e manter o equilíbrio ecológico, ambiental e socioeconômico.
</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
	<!-- Init section -->
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-android-notifications text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Foco</h3>
                <p>Para conhecimento o conhecimento seja fixado, ele precisa ser significativo para quem está
				aprendendo. Por isso ajudamos no estabelecimento de metas de aprendizagem.
				Ajuda a manter o foco nos objetivos de aprendizagem.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Emoção</h3>
                <p>O conteúdo precisa causar emotividade. Afinal, estudos comprovam que a emoção ajuda
				 a fixar um conceito. Quando o assunto tem alto valor para o aluno, a aprendizagem
				 é mais eficiente.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-flash text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Repetição</h3>
                <p>Qualquer um de nós aprende por repetição. Ou seja, quanto
					mais oportunidades tivermos de treinar algo que aprendemos, maiores
					as chances desse conteúdo não se perder e, de fato, ser transferida para
					a prática.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <!-- END section -->
