<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
var firebaseConfig = {
    apiKey: "AIzaSyDrckr2m0Ua0ss-ibSknQ_lWLoRe2X0T8k",
    authDomain: "diogosouza-5620d.firebaseapp.com",
    databaseURL: "https://diogosouza-5620d.firebaseio.com",
    projectId: "diogosouza-5620d",
    storageBucket: "diogosouza-5620d.appspot.com",
    messagingSenderId: "1005167564563",
    appId: "1:1005167564563:web:ddd05dfd4e9cc254f86ce6",
    measurementId: "G-WWG30FTDPL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
